* {
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 18px;
  }
  header{
    background-color: rgb(61, 224, 126);
  }
  .nav-bar {
    padding: 15px;
  }

.baner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 80px;
    text-align: center;
  }
  .posters{
    padding: 100px 40px 95px;
    margin: 0 auto;
    display: grid;
    background-color: #000;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;
    color: #fff;
  }
  .posters_big{
    padding: 50px ;
    margin: 0 auto;
    display: grid;
    background-color: #000;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
    color: #fff;
  }
  .poster_big{
    background-color: #fff;
    color: #000;
  }
  .poster_image {
    max-width: 100%;
    object-fit: cover;
    display: block;
  }
  .poster_image_big {
    max-width: 100%;
    object-fit: cover;
    display: block;
  }
  h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px 0 10px;
    margin: 0;
    color: #fff;
  }
  .h2_big{
    padding: 15px 0 10px;
    margin: 0;
    color: black;
  }
  button {
    background-color: #aa040a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .information {
    padding-bottom: 20px;
  }
  .nformation_poster_big {
    padding-bottom: 20px;
  }
  footer {
    display: grid;
    padding-left: 40px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(51, 51, 51);
    height: 200px;
  }
  .nav-footer{
    display:flex;
    flex-direction: column;
    align-items:center;
  }
  .contacts{
    display:flex;
    flex-direction: column;
    align-items:center;
  }
  .social-media{
    display:flex;
    flex-direction:row;
    gap: 10px;
    align-items:center;
  }